h1{
    color: #e8de16;
   background-color: rgb(45, 225, 153)  ;
   padding:  50px;
   text-align: center;
}
.pk{
    color: rgb(0, 30, 255);
    margin: 10px;
    padding: 50px;
    text-align:  center;
    background-color: rgb(255, 0, 208);
}