#p1{

    display: flex ;
    justify-content: center;
    text-align: center;
    


    
    justify-content: space-between;

    width: 30%;
    height: 50vh
    
    
    
}
#p2{

    display: flex ;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    

    width: 30%;
    height: 50vh
    

    
    
}



    
    
    
