.main{
    width: 350px;
    height: 500px;
    background-color: red;
    overflow: hidden;
    background: url("https://cdn2.vectorstock.com/i/1000x1000/06/91/blue-color-abstract-water-bubbles-background-vector-10260691.jpg") no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position:relative;
    width: 100%;
}

label{
    color: rgba(255, 255, 255, 0.922);
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none ;
    border-radius: 5px;

}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #14ce14;
}
.login{
    height: 460px;
    background: rgb(229, 229, 219);
    border-radius: 60% /10%;
    transform: translatey(-200px);
    cursor: pointer;
 

    transition: 4s ease-in-out;


}
.login label{
    color: #3f3b8a;
    transform: scale(.6);

}
#chk:checked .login{
    transform: translateY(-500px);

}
#chk:checked  .login label{
    transform: scale(1);

}
#chk:checked .signup label{
    transform: scale(.6)

}



